<main role="main" class="container root">
  <div id="waitingRoom" class="rootCard">
    <div class="row">
      <div class="col-12 colCard title">
        <h1 style="margin-right: 15px;">Hello</h1>
        <h1 id="playerName"> Player</h1>
      </div>

      <div class="col-12 colCard">
        <button id="startBtn" class="btn btn-success" onclick="startGame();">
          Start
        </button>
      </div>
    </div>
  </div>

  <div id="gameRoom" class="rootCard">
    <div class="row">
      <div class="col-12 colCard title">
        <h1 id="letter">Ready?</h1>
      </div>
      <div class="col-12 colCard">
        <div class="row">
          <div class="col-3">
            <h5>Name</h5>
          </div>
          <div class="col-7">
            <input type="text" id="name">
          </div>
        </div>
      </div>
      <div class="col-12 colCard">
        <div class="row">
          <div class="col-3">
            <h5>Color</h5>
          </div>
          <div class="col-7">
            <input type="text" id="color">
          </div>
        </div>
      </div>
      <div class="col-12 colCard">
        <div class="row">
          <div class="col-3">
            <h5>Fruit</h5>
          </div>
          <div class="col-7">
            <input type="text" id="fruit">
          </div>
        </div>
      </div>
      <div class="col-12 colCard">
        <button id="bastaBtn" class="btn btn-success" onclick="submitAnswers();">
          Basta
        </button>
      </div>
    </div>
  </div>

  <div id="podium" class="rootCardPodium">
    <div class="row">
      <div class="col-12" style="margin-top: -200px; text-align:center">
        <h1 id="podiumPlayerName">Player </h1>
      </div>
      <div class="col-12">
        <div class="row d-flex justify-content-center">
          <div class="col-8 winnerDiv">
            <h1 id="winner" style="font-size: 50px; font-weight: bold">Player 1</h1>
          </div>
          <div class="col-12">
            <div class="col-12 colCard">
              <button id="endBtn" class="btn btn-success" onclick="endGame();">
                End
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>